* {
  margin: 1px;
}

body {
  zoom: 150%;
  font-family: sans-serif;
}

.blink {
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  0% { opacity: 1; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}

.timerContainer {
  display: inline-block;
  border: 1px solid black;
  width: 175px;
  padding: 2px;
  font-weight:
}

.addLabel {
  width: 171px;
}

/*.label {
  width: 100%;
  padding-right: 2px;
}*/

.time {
  width: 25px;
}

#addTimer {
  font-size: 30px;
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}
